.ai-image-generator{
    display: flex;
    flex-direction: column;
    margin:auto;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    gap: 30px;
}

.header {
    font-size: 60px;
    font-weight: 500;
    padding-bottom: 20px;
  }
  .header span {
    color: #831bde;
    font-weight: 600;
  }
  
  .img-loading {
    display: flex;
    flex-direction: column;
  }
  .image img{
      width: 512px;
  }

  .search-box {
    display: flex;
    width: 550px;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    border-radius: 35px;
    background: #1f3540;
  }
  .search-input {
    width: 600px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;
  }
  .search-input::placeholder {
    color: #999;
  }
  .generate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 70px;
    font-size: 20px;
    border-radius: 35px;
    background: #831bde;
    cursor: pointer;
  }

  .loading {
    display: flex;
    flex-direction: column;
    margin-top: -6px;
  }
  .loading-bar {
    width: 0px;
    height: 8px;
    background: #971bde;
    border-radius: 30px;
  }
  .loading-bar-full{
    width: 450px;
    height: 8px;
    background: #880fd4;
    transition: 15s;
  }
  .loading-text {
    font-size: 18px;
  }

  .display-none{
    display: none;
}

