.ai-image-generator{
    display: flex;
    flex-direction: column;
    margin:auto;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    gap: 30px;
}

.header {
    font-size: 60px;
    font-weight: 500;
    padding-bottom: 20px;
  }
  .header span {
    color: #831bde;
    font-weight: 600;
  }
  
  .img-loading {
    display: flex;
    flex-direction: column;
  }
  .image img{
      width: 512px;
  }

  .search-box {
    display: flex;
    width: 500px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    border-radius: 35px;
    background: #1f3540;
  }
  .search-input {
    width: 600px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;
  }
  .search-input::placeholder {
    color: #999;
  }
  .generate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
    font-size: 15px;
    border-radius: 60px;
    background: #831bde;
    cursor: pointer;
  }

  .loading {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
  }
  .loading-bar {
    width: 0px;
    height: 8px;
    background: #971bde;
    border-radius: 30px;
  }
  .loading-bar-full{
    width: 450px;
    height: 8px;
    background: #880fd4;
    transition: 15s;
  }
  .loading-text {
    font-size: 18px;
  }

  .display-none{
    display: none;
}

/*media queries */

/* Mobile devices (portrait and landscape) */
@media screen and (max-width: 480px) {
  .ai-image-generator {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .header {
    font-size: 36px;
    padding-bottom: 10px;
  }
  
  .image img {
    width: 100%;
  }
  
  .search-box {
    width: 90%;
    padding: 0;
  }
  
  .search-input {
    width: 100%;
    padding-left: 15px;
    margin-right: 0;
    font-size: 12px;
  }
  
  .generate-btn {
    width: 50%; 
    height: 60px; 
    font-size: 13px; 
  }
  
  .loading-bar-full {
    width: 100%;
  }
}

/* Tablets and small desktops */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .header {
    font-size: 48px;
  }
  
  .search-box {
    width: 100%; 
  }
  
  .search-input {
    width: 100%;
    padding-left: 15px;
    margin-right: 0;
  }
  
  .generate-btn {
    width: 50%;
    height: 60px;
    font-size: 20px; 
  }
}

/* Large desktops and beyond */
@media screen and (min-width: 1025px) {
  .search-box {
    width: 600px;
  }
  
  .search-input {
    width: 500px;
  }
  
  .generate-btn {
    width: 300px; 
    height: 60px;
    font-size: 20px; 
  }
}

